<div id="new-product" class="card">
  <%= form_with model: product, multipart: true do |form| %>
    <div class="dropzone" data-controller="dropzone" data-dropzone-max-files="1">
      <%= form.file_field :feature_image, direct_upload: true, data: { target: "dropzone.input "} %>
      <div class="dropzone-msg dz-message">
        Drag to add an image of the flower.
      </div>
    </div>
    <div class="fields">
        <%= form.text_field :name, placeholder: "Name"%>
        <%= form.number_field :price, placeholder: "Price", min: 0, step: "any" %>
        <%= form.number_field :rating, placeholder: "Rating", min: 1, max: 5 %>
    </div>
    <ul class="errors">
      <% product.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    <div class="action-container">
      <%= form.submit class: "button" %>
    </div>
  <% end %>
</div>
