<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= product.rating %>
  </p>

  <p>
    <strong>Featured photo:</strong>
    <%= product.featured_photo %>
  </p>

</div>
